

.wrap {

  
margin-left: auto;
margin-right: auto;
background-color: #2E2E2E;
padding: 20px;
border-radius: 8px;

width: 330px;
min-height: 50px;
font-family: "Albert Sans", sans-serif;
font-size: inherit;
font-weight: bold;
line-height: 1.5;
}


.googlelogin {

margin-left: auto;
margin-right: auto;



}





.Chart {

  background-color: #1C1C1C;
 padding: 30px;
border-radius: 8px;
width: 40%;
float: right;
}
