

.wrap {
  
margin-left: calc(50% - 190px);
background-color: #2E2E2E;
padding: 20px;
border-radius: 8px;
min-width: 200px;
max-width: 300px;
min-height: 50px;
font-family: "Albert Sans", sans-serif;
font-size: inherit;
font-weight: bold;
line-height: 1.5;
}
