* {
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
  float: right;
  width: 50%;
  padding: 8px;
  border-radius: 10px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: #1E1E1E;
  color: white;
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: none;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #242424;
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}





* {
  font-family: "Albert Sans", sans-serif;
  font-size: inherit;
}

body {
  background-color: #1e1e1e;
  display: grid;
  place-items: left;
  position: relative;
  
}



.progressbar {


color: white;

}

#message {


  height: 150px;
}

.login-container {
    background-color: #2E2E2E;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 45%;
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #333333;
}



.textbox-container {
  width: 300px;
  margin: 0 auto;
  border: none;
  margin-top: 20px;
  border-radius: 7px;



}



.progressbar-container {
      height: 50px;
      background-color: #1E1E1E;
      border-radius: 5px;
      width:  100%;
      overflow: hidden;
      border: none;
    
   
      
    }






.back {
color: white;
font-size: 30px;
}




